.nav-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: start;

    /* The code below remove the <ul> default styles */
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li {
    /* flex: 1; */
}

/* media query:
The @media rule, introduced in CSS2, made it possible to define different style rules for different media types.

this example sets the flex-direction to row while the screen width stays over 600px*/
@media (min-width: 600px) {
    .nav-list {
        flex-direction: row;
    }
}



ul {
    border: 5px solid rgb(103, 219, 248);
}
li {
    border: 5px solid rgb(126, 219, 146);
}